html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #aaa;
}

body {
  background-image: url('hotel.png');
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: hard-light;
  background-position: right;
}

#content {
  margin: auto;
  position: relative;
  top: 31%;
  color: #000;
  font-size: 1.2rem;
  background-color: rgba(255,255,255,0.85);
  width: 30%;
  min-width: 300px;
  padding: 32px;
  border-radius: 12px;
}

#content img {
  width: 80%;
  margin-bottom: 2rem;
}

#content #contact {
  margin-top: 3rem;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: #19324d;
}

a:hover {
  color: #11658d;
}

#footer {
  margin: auto;
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 20px;
}
