html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#content {
  margin: auto;
  position: relative;
  height: 31%;
  top: 29%;
  color: #000;
  font-size: 1.2rem;
}

#content img {
    margin-bottom: 1rem;
}

#footer {
  color: #aaa;
  margin: auto;
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 20px;
}
