html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#content {
  margin: auto;
  position: relative;
  top: 31%;
  color: #000;
  font-size: 1.2rem;
}

#content img {
  height: 18%;
  margin-bottom: 2rem;
}

#content #contact {
  margin-top: 3rem;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: #19324d;
}

a:hover {
  color: #11658d;
}

#footer {
  color: #aaa;
  margin: auto;
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 20px;
}
